@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Noto+Sans+JP&display=swap');

a:hover, i:hover{
    color: #6B2647 !important;
}

body{
    background-color: #181818;
}

.navegacao{
    background-color: #19191E;
}

.link-nav{
    padding: 20px 10px;
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
}

.img-mapie{
    height: 110px;
    margin-left: 25px;
}

@media (max-width: 1026px){
    .img-mapie{
        display: none;
    }
}

.nav-link{
    background-color: transparent !important;
}