@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Noto+Sans+JP&display=swap');


.navegacao{
    background-color: #19191E;
}

.link-nav{
    padding: 20px 10px;
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
    
}

body{
    background-color: #181818;
}

h1,h2,h3,h4{
    color: white;
    font-family: 'Francois One', sans-serif;
}

p{
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: small;
}

.text-game{
    text-align: justify;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

.div-text{
    margin: auto;
}

.game-dev{
    margin: 30px 20px;
    border-bottom: solid 1px;
    border-color: whitesmoke;
}

.FF{
    width: 50%;
    height: auto;
    margin: auto;
   }

.FF-img{
    height: 125px;
    margin: auto;
    margin-bottom: 20px;
}

.btn-download{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.trailer{
    margin-top: 10px;
    margin-bottom: 10px;
}